# Rectify the code in each cell and **explain the error in comments**

### index error

In [12]:
mylist=[14, "hello", 967]
mylist[0]
#6 is not an index valid in mylist

14

In [17]:
import pandas 

import numpy 
#pandas et numpy doivent être en minuscule

# syntax error

In [4]:
print ("python errors")
#print a besoin de parenthèses et doit être en minuscule

python errors

# key error

In [19]:
mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary[True]
#True ne nécessite pas de ""

'hello'

# indentation error

In [21]:
i=14
while i<78:
  print(i)
  i+=1
# après : nous devons mettre une indentation

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

# StopIteration

In [22]:

it=iter([1,2,3])
next(it)
next(it)
next(it)
#la fonction next() a été utilisé plus de fois que nécessaire

3

# TypeError

In [23]:
15+15
#on ne peut pas calculer des entiers et des strings, c'est pour cela que j'ai enlevé les premières ""

30

# ValueError

In [30]:
int(58)
#int est utilisé pour des entiers et non pas un string

58

# NameError

In [28]:
python=4
#python doit être définit en lui ajoutant une valeur

# ZeroDivisionError

In [29]:
x=19/1
#0 ne peut pas être diviseur d'un nombre